* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}


/*SECTION-1*/
.section-1 {
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  height: 722px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
  padding: 30px 0;
}
.header__purse {
  position: relative;
  bottom: 12px;
  padding-right: 34px;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 277px;
  height: 37px;
  border: 2px solid white;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.header__button__img {
  padding-right: 13px;
}
.header__button__info {
  color: rgba(62, 147, 159, 255);
}

.selection-wrapper {
  display: flex;
}
.selection {
  display: flex;
  flex-direction: column;
  max-width: 941px;
  width: 99.5%;
  height: 473px;
  margin: 0 auto;
  background-image: url('img/img.jpg');
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: white;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.7);
}
.selection-calculation {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 47px;
}
.selection__title, .selection__text-1, .selection__text-2 {
  text-align: center;
}
.selection__title {
  margin: 45px 0 15px;
  font-weight: bold;
  font-size: 45px;
}
.selection__text-1__questions, .selection-calculation__label, .selection__statistics__bid_number {
  color: #ff8202;
}
.selection-calculation__label {
  margin-bottom: 8px;
  font-weight: bold;
}
.selection-calculation__input {
  width: 229px;
  height: 30px;
  margin-bottom: 17px;
  border-radius: 4px;
  border: 0;
}
.selection-calculation__input::placeholder {
  padding-left: 9px;
}
.selection-calculation__button {
  width: 229px;
  height: 40px;
  margin-bottom: 45px;
  background: linear-gradient(#ff9e04, #ff6800);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}
.selection__statistics {
  display: flex;
  margin-top: 9px;
}
.selection__partners {
  display: flex;
  justify-content: space-evenly;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.6);
}
.selection__statistics__date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 9px 0 4px;
  width: 95px;
  height: 27px;
  border-radius: 5px 0 0 5px;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  background-color: #ff8202;
}
.selection__statistics__bid {
  align-self: center;
}
.selection__statistics__bid_number {
  font-weight: bold;
}
.selection-wrapper__title-1, .selection-wrapper__title-2, .selection-wrapper__title-3 {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}
.selection-wrapper__title-1 {
  top: 140px;
  font-size: 57px;
}
.selection-wrapper__title-2 {
  top: 185px;
  left: 295px;
  font-size: 20px;
}
.selection-wrapper__title-3 {
  top: 185px;
  font-size: 57px;
}

.horizontal-line-1, .horizontal-line-2, .vertical-line {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}
.horizontal-line-1 {
  top: 110px;
  width: 100%;
  height: 50px;
}
.vertical-line {
  top: 110px;
  height: 357px;
  width: 50px;
}
.horizontal-line-2 {
  top: 195px;
  width: 100%;
  height: 50px;
}


@media all and (max-width: 1615px) {
  .transparent-content {
    display: none;
  }
}

@media all and (max-width: 720px) {
  .selection__partners {
    flex-wrap: wrap;
  }
  .selection {
    width: 99%;
  }
  .selection__title {
    margin: 24px 0 15px;
    font-size: 24px;
  }
  .selection-calculation {
    margin-top: 20px;
  }
  .selection-calculation__button {
    margin-bottom: 24px;
  }
}

@media all and (max-width: 400px) {
  .selection__title {
    margin-top: 90px;
  }
  .selection__partners {
    display: none;
  }
  .header {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 400px) {
  .selection {
    width: 95%;
  }
}
/*SECTION-1*/


/*SECTION-2*/
.section-2 .selection {
  margin-top: 77px;
}
.section-2__input-container {
  display: flex;
  align-self: center;
  margin-top: 77px;
}
.section-2__input-container__input {
  width: 129px;
  height: 80px;
  border: 0;
  border-radius: 4px;
  font-size: 34px;
  color: rgba(47, 69, 92, 255);
}
.section-2__input-container__input::placeholder {
  position: relative;
  top: 4px;
  left: 28px;
  font-size: 34px;
  color: rgba(47, 69, 92, 255);
}
.section-2__input-container__item {
  align-self: center;
  font-size: 44px;
  color: rgba(255, 151, 4, 255);
  cursor: pointer;
}
.decrement {
  margin-right: 30px;
}
.increment {
  margin-left: 30px;
}
.section-2__title {
  margin-top: 59px;
  text-align: center;
  font-size: 34px;
  color: rgba(255, 151, 4, 255);
}
.section-2 .selection-calculation__button {
  align-self: center;
  margin-top: 32px;
}
.section-2 .selection__statistics {
  margin-top: 67px;
}


@media all and (max-width: 720px) {
  .section-2__title {
    font-size: 24px;
  }
}
@media all and (max-width: 950px) {
  .section-2 .selection {
      margin-top: 0;
  }
}
/*SECTION-2*/


/*SECTION-3*/
.section-3__title {
  margin-top: 50px;
  font-size: 45px;
  text-align: center;
}
.section-3__offers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section-3__offers__titles-container {
  padding-right: 25px;
}
.section-3__info {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  padding: 18px 0;
  max-width: 710px;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.section-3__info__list {
  padding-left: 15px;
  line-height: 1.5;
}
.section-3__info__list span {
  font-weight: bold;
  color: #ff8202;
}
.section-3__offers__title {
  font-size: 16px;
  font-weight: bold;
  color: #ff8202;
}
.section-3__offers__title span {
  font-size: 34px;
}
.section-3__offers__img-container {
  margin-top: 30px;
}
.section-3__offers__subtitle {
  font-weight: bold;
}

.section-3__form {
  align-self: center;
  margin-top: 37px;
  max-width: 712px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-3__form__input-name, .section-3__form__input-phone {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #ff8202;
}
.section-3__form__input-name__input, .section-3__form__input-phone__input {
  width: 219px;
  height: 40px;
  border: 0;
  border-radius: 4px;
}
.section-3 .selection-calculation__button {
  margin-top: 21px;
}
.section-3__form input {
  margin-top: 3px;
  padding-left: 13px;
}


@media all and (max-width: 720px) {
  .section-3__title {
    font-size: 24px;
  }
}
@media all and (max-width: 720px) {
  .section-3__info, .section-3__form {
    flex-wrap: wrap;
  }
  .section-3 .selection {
    height: 716px;
    background-image: none;
  }
  .section-3 {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    height: 722px;
  }
  .section-3__form {
    width: 325px;
    align-self: flex-start;
    margin-left: 20px;
  }
  .section-3__info__list {
    margin-left: 20px;
  }
}
@media all and (max-width: 642px) {
  .section-3__offers {
    margin-top: 10px;
  }
  .section-3__offers {
    align-items: flex-start;
    margin-left: 20px;
  }
}
@media all and (max-width: 400px) {
  .section-3__title {
    margin-top: 10px;
    font-size: 20px;
  }
  .section-3__info {
    padding-top: 10px;
  }
  .section-3__form {
    margin-top: 20px;
  }
  body {
    overflow-x: hidden;
  }
}
@media all and (max-width: 340px) {
  .section-3__info {
    margin-top: 0;
  }
}
/*SECTION-3*/
